<div class="span12">
  <div class="row" ng-controller="IdeasCtrl">
    <h3>I suggest to you...</h3>
    <form>
      <input type="text" placeholder="idea..." ng-model="idea.title" class="span12"/>
      Your idea is: "{{idea.title}}"
    </form>
    <div>
      <ul>
        <li ng-repeat='idea in ideas'>
          {{idea.title}}, {{idea.created_at}}
        </li>
      </ul>
    </div>
  </div>
</div>