<section ng-controller="searchCtrl">
    <h3>I suggest to you...</h3>
    <form ng-submit="addIdea()">
      <input type="text" placeholder="Idea..." id="idea_search" ng-model="new_idea.title" class="input-block-level"/>
      <div ng-show="!ideas.length">
        <div class="controls controls-row">
          <textarea ng-model="new_idea.description" class="span7" placeholder="Describe your idea"></textarea>
        </div>
        <div class="controls controls-row">
          <% if current_user %>
            <%= current_user.name %>
          <% end %>
        </div>
        <div class="controls controls-row">
          <button type="submit" class="btn btn-primary">Post idea</button>
          <a href="#">Cancel</a>
        </div>

      </div>
    </form>
    <div class="row-fluid" ng-repeat="idea in ideas">
        <div class="span2">
          <div class="text-center">
            <h2>{{idea.votes}}</h2>
            votes
          </div>
          <div class="btn-group">
            <button class="btn pull-left" ng-click="dislike(idea)"><span class="icon-thumbs-down"></span></button>
            <button class="btn pull-left" ng-click="like(idea)"><span class="icon-thumbs-up"></span></button>
          </div>
        </div>
        <blockquote class="span10">
          <h3>{{idea.title}}</h3>
          <p>{{idea.description}}</p>
          <small>posted by <cite title="Source Title">{{ idea.user.name }}</cite></small>
        </blockquote>
    </div>
    <ul class="pager" ng-hide="!ideas.length">
        <li class="previous" ng-class="{disabled: page == 1}">
          <a href="#" ng-click="previous()" no-href>&laquo; Previous</a>
        </li>
        <li class="next" ng-class="{disabled: page*per_page >= total_ideas }">
            <a href="#" ng-click="next()" no-href>Next &raquo;</a>
        </li>
    </ul>
</section>
